# Mail Map for Git

Kat Marchán <kzm@sykosomatic.org>
Kat Marchán <kzm@sykosomatic.org> Kat <zkat@Dagon.(none)>
Kat Marchán <kzm@sykosomatic.org> Kat <zkat@haruko.localdomain>
Adlai Chandrasekhar <munchking@gmail.com>
